.slider {
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 0px 100px;
  .slick-slider {
    position: relative;
    .slick-prev {
      position: absolute;
      top: calc(100% + 55px);
      left: 0px;
    }
    .slick-prev:before{
      font-size: 40px;
    }
    .slick-next {
      position: absolute;
      top: calc(100% + 55px);
      left: 45px;
      font-size: 40px;
    }
    .slick-next:before{
      font-size: 40px;
    }
  }
}
.payment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 100px;
  font-family: "Poppins", sans-serif;
  .payment-container {
    width: 300px;
    display: flex;
    flex-direction: row;
  }
  .icon {
    background: white;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-right: 15px;
    i {
      font-size: 1.1rem;
      color: black;
    }
  }
  .icon:hover {
    i {
      transform: scale(1.05);
      transition: all 400ms;
    }
  }
  .description {
    width: 255px;
    .name {
      color: white;
      padding-bottom: 10px;
    }
    .book {
      a {
        font-size: 1.1rem;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}
