.slider-element {
  color: white;
  .subtitle {
    font-family: "Montserrat", sans-serif;
  }
  .title {
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .weather {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
